.admin-pengaduan{
    min-height: 100vh;
    background: #fef8f5;
}

.h2-admin {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    font-weight: 900;
    color: rgb(44, 44, 44);
}